<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Olegnax_ProductReviewsSummary::productreviewssummary" title="Product Reviews Summary" translate="title" module="Olegnax_ProductReviewsSummary" sortOrder="999" parent="Olegnax_Core::Olegnax_Core" resource="Olegnax_ProductReviewsSummary::productreviewssummary"/>
        <add id="Olegnax_ProductReviewsSummary::config" title="Configuration" translate="title" module="Olegnax_ProductReviewsSummary" sortOrder="20" action="adminhtml/system_config/edit/section/olegnax_productreviewssummary" parent="Olegnax_ProductReviewsSummary::productreviewssummary" resource="Olegnax_ProductReviewsSummary::productreviewssummary"/>
    </menu>
</config>