<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Olegnax_Athlete2Slideshow::athleteslideshow" title="Slideshow" translate="title" module="Olegnax_Athlete2Slideshow" sortOrder="999" parent="Olegnax_Core::Olegnax_Core" resource="Olegnax_Athlete2Slideshow::athleteslideshow"/>
        <add id="Olegnax_Athlete2Slideshow::Slide" title="Slides" translate="title" module="Olegnax_Athlete2Slideshow" sortOrder="10" action="athleteslideshow/slides/index" parent="Olegnax_Athlete2Slideshow::athleteslideshow" resource="Olegnax_Athlete2Slideshow::Slides_Index"/>
        <add id="Olegnax_Athlete2Slideshow::config" title="Configuration" translate="title" module="Olegnax_Athlete2Slideshow" sortOrder="20" action="adminhtml/system_config/edit/section/athleteslideshow" parent="Olegnax_Athlete2Slideshow::athleteslideshow" resource="Olegnax_Athlete2Slideshow::athleteslideshow"/>
    </menu>
</config>