<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="athleteslideshow" id="athleteslideshow">
			<module before="Magento_Backend" name="Olegnax_Athlete2Slideshow"/>
		</route>
	</router>
</config>
