<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Olegnax_ProductLabel::productlabel" title="Product Label" translate="title" module="Olegnax_ProductLabel" sortOrder="999" parent="Olegnax_Core::Olegnax_Core" resource="Olegnax_ProductLabel::productlabel"/>
        <add id="Olegnax_ProductLabel::config" title="Configuration" translate="title" module="Olegnax_ProductLabel" sortOrder="20" action="adminhtml/system_config/edit/section/olegnax_productlabel" parent="Olegnax_ProductLabel::productlabel" resource="Olegnax_ProductLabel::productlabel"/>
    </menu>
</config>