<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<ox_megamenu_settings>
			<general>
				<enable_megamenu>1</enable_megamenu>
				<show_menu_parent_arrow>1</show_menu_parent_arrow>
				<show_sub_parent_arrow>1</show_sub_parent_arrow>
                                <perfect_scrollbar>1</perfect_scrollbar>
			</general>
		</ox_megamenu_settings>
	</default>
</config>