item,item
items,items
"Now Shopping by","Now Shopping by"
Remove,Remove
Previous,Previous
"Remove This Item","Remove This Item"
Comments,Comments
"We can't find posts matching the selection.","We can't find posts matching the selection."
"Read more","Read more"
"Show more","Show more"
"Show less","Show less"
Twitter,Twitter
Facebook,Facebook
Tags:,Tags:
"%1 Comment(s)","%1 Comment(s)"
"Add a comment...","Add a comment..."
"Sign in to add a comment...","Sign in to add a comment..."
"Full Name","Full Name"
Email,Email
Submit,Submit
"Sign In","Sign In"
"Load more comments","Load more comments"
"Add a reply...","Add a reply..."
Cancel,Cancel
Reply,Reply
"Show more replies in this thread","Show more replies in this thread"
"Read %1","Read %1"
Next,Next
"Related Posts","Related Posts"
"Related Products","Related Products"
"Add to Cart","Add to Cart"
"In stock","In stock"
"Out of stock","Out of stock"
"Add to Wish List","Add to Wish List"
"Add to Compare","Add to Compare"
"Recent Posts","Recent Posts"
"Your Customization","Your Customization"
Availability,Availability
Summary,Summary
"%1 x %2","%1 x %2"
"Shop By","Shop By"
"Shopping Options","Shopping Options"
Category,Category
"in Compare","in Compare"
"Clear All","Clear All"
Compare,Compare
"You have no items to compare.","You have no items to compare."
"Continue Shopping","Continue Shopping"
"We can't find products matching the selection.","We can't find products matching the selection."
"Learn More","Learn More"
"We found other products you might like!","We found other products you might like!"
"More Choices:","More Choices:"
"New Products","New Products"
Filter,Filter
"Items %1-%2 of %3","Items %1-%2 of %3"
"%1 Item","%1 Item"
"%1 Items","%1 Items"
Show,Show
"per page","per page"
"Sort By","Sort By"
"Set Ascending Direction","Set Ascending Direction"
"Set Descending Direction","Set Descending Direction"
"View as","View as"
Qty,Qty
Share,Share
Pinterest,Pinterest
"Shopping Cart Items","Shopping Cart Items"
Item,Item
Price,Price
Subtotal,Subtotal
Actions,Actions
"Clear Shopping Cart","Clear Shopping Cart"
"Update Shopping Cart","Update Shopping Cart"
"See price before order confirmation.","See price before order confirmation."
"What's this?","What's this?"
"Remove item","Remove item"
"Product added to cart","Product added to cart"
"You have no items in your shopping cart.","You have no items in your shopping cart."
"<a class=""button"" href=""%1"">Continue shopping.</a>","<a class=""button"" href=""%1"">Continue shopping.</a>"
"Shopping Cart","Shopping Cart"
"Your order number is: %1","Your order number is: %1"
"Your order # is: %1","Your order # is: %1"
"We'll email you an order confirmation with details and tracking info.","We'll email you an order confirmation with details and tracking info."
"Registered Customers","Registered Customers"
"* Required Fields","* Required Fields"
"If you have an account, sign in with your email address.","If you have an account, sign in with your email address."
Password,Password
"Forgot Your Password?","Forgot Your Password?"
Currency,Currency
"Grouped product items","Grouped product items"
"Product Name","Product Name"
"No options of this product are available.","No options of this product are available."
"Enter your email address","Enter your email address"
Subscribe,Subscribe
"Write Your Own Review","Write Your Own Review"
"Write a Review","Write a Review"
"%1 %2","%1 %2"
Nickname,Nickname
Review,Review
"Submit Review","Submit Review"
"Only registered users can write reviews. Please <a href=""%1"">Sign in</a> or <a href=""%2"">create an account</a>","Only registered users can write reviews. Please <a href=""%1"">Sign in</a> or <a href=""%2"">create an account</a>"
"Customer Reviews","Customer Reviews"
"Review by","Review by"
"Posted on","Posted on"
Search,Search
Go,Go
Language,Language
"Select Store","Select Store"
"in Wish list","in Wish list"
"Total Products","Total Products"
"View my Wishlist","View my Wishlist"
"You have no items in your wish list.","You have no items in your wish list."
"Welcome, %1!","Welcome, %1!"
"My Account","My Account"
"My Orders","My Orders"
"My Wishlist","My Wishlist"
Checkout,Checkout
"Log Out","Log Out"
"Create an account","Create an account"
"Log In","Log In"
"To Top","To Top"
"Estimated Total","Estimated Total"
"See Details","See Details"
"Options Details","Options Details"
Update,Update
Edit,Edit
"Are you sure you would like to remove this item from the shopping cart?","Are you sure you would like to remove this item from the shopping cart?"
More,More
"Thank you for your purchase!","Thank you for your purchase!"
"1 column","1 column"
"2 columns with left bar","2 columns with left bar"
"2 columns with right bar","2 columns with right bar"
"3 columns","3 columns"
"FullWidth 1 column","FullWidth 1 column"
top-menu,top-menu
Menu,Menu
Account,Account
Settings,Settings
