<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="view_block_abstract_to_html_after">
		<observer instance="Olegnax\LayeredNavigation\Observer\Frontend\View\BlockAbstractToHtmlAfter" name="olegnax_layerednavigation_observer_frontend_view_blockabstracttohtmlafter_view_block_abstract_to_html_after"/>
	</event>
</config>