<?xml version="1.0" ?>
<!--suppress CheckTagEmptyBody -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<olegnax_newsletterpopupbasic>
			<general>
				<enable>0</enable>
				<many_times/>
                                <cookie_expire></cookie_expire>
                                <cookie_sufix></cookie_sufix>
				<layout>fullwidth</layout>
				<timeout>1000</timeout>
				<show_mobile>0</show_mobile>
				<width>960</width>
				<height>550</height>
                                <mobile_width></mobile_width>
                                <mobile_height></mobile_height>
                                <mobile_image_height></mobile_image_height>
				<column_width></column_width>
				<padding></padding>
                                <tablet_padding></tablet_padding>
                                <mobile_padding></mobile_padding>
				<content_padding></content_padding>
                                <tablet_content_padding></tablet_content_padding>
                                <mobile_content_padding></mobile_content_padding>
				<position_h>h-center</position_h>
				<position_v>v-center</position_v>
				<form_layout></form_layout>
				<content_position_h></content_position_h>
				<content_position_v></content_position_v>
                                <show_shadow>0</show_shadow>
                                <clickable_overlay>0</clickable_overlay>
			</general>
			<content>
				<column_image></column_image>
				<content/>
			</content>
			<appearance>
				<background_color/>
				<bg_image_enabled>0</bg_image_enabled>
				<background_image/>
				<bg_position_y>center</bg_position_y>
				<bg_position_x>center</bg_position_x>
				<bg_repeat>no-repeat</bg_repeat>
				<bg_size>cover</bg_size>
				<newsletter_input_style></newsletter_input_style>
				<newsletter_text_color></newsletter_text_color>
				<newsletter_titles_color></newsletter_titles_color>
				<close_button_bg></close_button_bg>
				<close_button_icon_color></close_button_icon_color>
				<close_button_bg_hover></close_button_bg_hover>
				<close_button_icon_color_hover></close_button_icon_color_hover>
				<newsletter_input_bg></newsletter_input_bg>
				<newsletter_input_border_color></newsletter_input_border_color>
				<newsletter_input_border_focus></newsletter_input_border_focus>
				<newsletter_color></newsletter_color>
				<newsletter_button_color></newsletter_button_color>
				<newsletter_button_bg></newsletter_button_bg>
				<newsletter_button_hover></newsletter_button_hover>
				<newsletter_button_hover_bg></newsletter_button_hover_bg>
			</appearance>
		</olegnax_newsletterpopupbasic>
	</default>
</config>
